# Python Pandas

### Basics of Pandas

In [2]:
from urllib.request import urlretrieve

In [3]:
urlretrieve("https://s3.amazonaws.com/assets.datacamp.com/production/course_1606/datasets/winequality-red.csv", "winequality-red.csv")

('winequality-red.csv', <http.client.HTTPMessage at 0x23c38650d00>)

In [4]:
import pandas as pd

In [5]:
wine_df = pd.read_csv("winequality-red.csv", sep=";")

In [6]:
type(wine_df)

pandas.core.frame.DataFrame

In [7]:
wine_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [8]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [10]:
wine_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [11]:
wine_df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [12]:
wine_df.shape

(1599, 12)

In [13]:
wine_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

### Retrieving data from DataFrame

In [14]:
wine_df['quality']

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [15]:
type(wine_df['quality'])

pandas.core.series.Series

In [16]:
wine_df['quality'][2]

5

In [17]:
wine_df[['quality', 'alcohol']]

      quality  alcohol
0           5      9.4
1           5      9.8
2           5      9.8
3           6      9.8
4           5      9.4
...       ...      ...
1594        5     10.5
1595        6     11.2
1596        6     11.0
1597        5     10.2
1598        6     11.0

[1599 rows x 2 columns]

In [18]:
wine_df.at[2, 'quality']

5

In [19]:
wine_df.quality

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [20]:
# this subset also points to same DF,so making change in subset will also change value in real DF
wine_df_subset = wine_df[['quality','alcohol']]

In [21]:
wine_df_subset

      quality  alcohol
0           5      9.4
1           5      9.8
2           5      9.8
3           6      9.8
4           5      9.4
...       ...      ...
1594        5     10.5
1595        6     11.2
1596        6     11.0
1597        5     10.2
1598        6     11.0

[1599 rows x 2 columns]

In [22]:
# copy method makes actual copy
wine_df_copy = wine_df.copy()

In [23]:
wine_df_copy

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [24]:
#accessing rows using loc method
wine_df.loc[1594]

fixed acidity            6.2000
volatile acidity         0.6000
citric acid              0.0800
residual sugar           2.0000
chlorides                0.0900
free sulfur dioxide     32.0000
total sulfur dioxide    44.0000
density                  0.9949
pH                       3.4500
sulphates                0.5800
alcohol                 10.5000
quality                  5.0000
Name: 1594, dtype: float64

In [25]:
type(wine_df.loc[1594])

pandas.core.series.Series

In [26]:
#getting first n rows
wine_df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [27]:
# getting last n rows
wine_df.tail(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [28]:
# finding first valid(not nan) index in column
wine_df.quality.first_valid_index()

0

In [29]:
wine_df.loc[3:8]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7

In [30]:
# get random sample of data by rows
wine_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
564,13.0,0.470,0.49,4.3,0.085,6.0,47.0,1.00210,3.30,0.68,12.7,6
1569,6.2,0.510,0.14,1.9,0.056,15.0,34.0,0.99396,3.48,0.57,11.5,6
448,8.6,0.530,0.22,2.0,0.100,7.0,27.0,0.99670,3.20,0.56,10.2,6
1416,10.0,0.320,0.59,2.2,0.077,3.0,15.0,0.99940,3.20,0.78,9.6,5
647,8.3,0.845,0.01,2.2,0.070,5.0,14.0,0.99670,3.32,0.58,11.0,4
430,10.5,0.240,0.47,2.1,0.066,6.0,24.0,0.99780,3.15,0.90,11.0,7
1154,6.6,0.580,0.00,2.2,0.100,50.0,63.0,0.99544,3.59,0.68,11.4,6
478,9.6,0.680,0.24,2.2,0.087,5.0,28.0,0.99880,3.14,0.60,10.2,5
991,7.1,0.340,0.28,2.0,0.082,31.0,68.0,0.99694,3.45,0.48,9.4,5
648,8.7,0.480,0.30,2.8,0.066,10.0,28.0,0.99640,3.33,0.67,11.2,7

### Operations of data

In [31]:
total_sugar = wine_df['residual sugar'].sum()

In [32]:
total_sugar

4059.55

In [33]:
avg_sugar = wine_df['residual sugar'].mean()

In [34]:
avg_sugar

2.53880550343965

In [35]:
total_items = wine_df['residual sugar'].count()

In [36]:
total_items

1599

### Querying & sorting rows

In [37]:
high_quality_wines = wine_df['quality'] > 7

In [38]:
high_quality_wines

0       False
1       False
2       False
3       False
4       False
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: quality, Length: 1599, dtype: bool

In [39]:
wine_df[high_quality_wines]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
267,7.9,0.35,0.46,3.6,0.078,15.0,37.0,0.99730,3.35,0.86,12.8,8
278,10.3,0.32,0.45,6.4,0.073,5.0,13.0,0.99760,3.23,0.82,12.6,8
390,5.6,0.85,0.05,1.4,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8
440,12.6,0.31,0.72,2.2,0.072,6.0,29.0,0.99870,2.88,0.82,9.8,8
455,11.3,0.62,0.67,5.2,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8
481,9.4,0.30,0.56,2.8,0.080,6.0,17.0,0.99640,3.15,0.92,11.7,8
495,10.7,0.35,0.53,2.6,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8
498,10.7,0.35,0.53,2.6,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8
588,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
828,7.8,0.57,0.09,2.3,0.065,34.0,45.0,0.99417,3.46,0.74,12.7,8
1061,9.1,0.40,0.50,1.8,0.071,7.0,16.0,0.99462,3.21,0.69,12.5,8
1090,10.0,0.26,0.54,1.9,0.083,42.0,74.0,0.99451,2.98,0.63,11.8,8
1120,7.9,0.54,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8
1202,8.6,0.42,0.39,1.8,0.068,6.0,12.0,0.99516,3.35,0.69,11.7,8
1269,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8
1403,7.2,0.33,0.33,1.7,0.061,3.0,13.0,0.99600,3.23,1.10,10.0,8
1449,7.2,0.38,0.31,2.0,0.056,15.0,29.0,0.99472,3.23,0.76,11.3,8
1549,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8

In [40]:
high_sulphur_wines = wine_df[wine_df['free sulfur dioxide'] > 50]

In [41]:
high_sulphur_wines

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
14,8.9,0.620,0.18,3.8,0.176,52.0,145.0,0.99860,3.16,0.88,9.2,5
15,8.9,0.620,0.19,3.9,0.170,51.0,148.0,0.99860,3.17,0.93,9.2,5
396,6.6,0.735,0.02,7.9,0.122,68.0,124.0,0.99940,3.47,0.53,9.9,5
400,6.6,0.735,0.02,7.9,0.122,68.0,124.0,0.99940,3.47,0.53,9.9,5
584,11.8,0.330,0.49,3.4,0.093,54.0,80.0,1.00020,3.30,0.76,10.7,7
925,8.6,0.220,0.36,1.9,0.064,53.0,77.0,0.99604,3.47,0.87,11.0,7
926,9.4,0.240,0.33,2.3,0.061,52.0,73.0,0.99786,3.47,0.90,10.2,6
982,7.3,0.520,0.32,2.1,0.070,51.0,70.0,0.99418,3.34,0.82,12.9,6
1131,5.9,0.190,0.21,1.7,0.045,57.0,135.0,0.99341,3.32,0.44,9.5,5
1244,5.9,0.290,0.25,13.4,0.067,72.0,160.0,0.99721,3.33,0.54,10.3,6
1295,6.6,0.630,0.00,4.3,0.093,51.0,77.5,0.99558,3.20,0.45,9.5,5
1296,6.6,0.630,0.00,4.3,0.093,51.0,77.5,0.99558,3.20,0.45,9.5,5
1358,7.4,0.640,0.17,5.4,0.168,52.0,98.0,0.99736,3.28,0.50,9.5,5
1434,10.2,0.540,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,6
1435,10.2,0.540,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,6
1558,6.9,0.630,0.33,6.7,0.235,66.0,115.0,0.99787,3.22,0.56,9.5,5

In [42]:
from IPython.display import display
with pd.option_context('display.min_rows', 15, 'display.max_columns', 4):
    display(wine_df)

      fixed acidity  volatile acidity  ...  alcohol  quality
0               7.4             0.700  ...      9.4        5
1               7.8             0.880  ...      9.8        5
2               7.8             0.760  ...      9.8        5
3              11.2             0.280  ...      9.8        6
4               7.4             0.700  ...      9.4        5
5               7.4             0.660  ...      9.4        5
6               7.9             0.600  ...      9.4        5
...             ...               ...  ...      ...      ...
1592            6.3             0.510  ...     11.0        6
1593            6.8             0.620  ...      9.5        6
1594            6.2             0.600  ...     10.5        5
1595            5.9             0.550  ...     11.2        6
1596            6.3             0.510  ...     11.0        6
1597            5.9             0.645  ...     10.2        5
1598            6.0             0.310  ...     11.0        6

[1599 rows x 12 columns]

In [43]:
free_sulphur_ratio_threshold = 0.4

In [44]:
high_free_sulphur_ratio = wine_df[wine_df['free sulfur dioxide'] / wine_df['total sulfur dioxide'] > free_sulphur_ratio_threshold]

In [45]:
high_free_sulphur_ratio

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7
20,8.9,0.220,0.48,1.8,0.077,29.0,60.0,0.99680,3.39,0.53,9.4,6
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.99680,3.43,0.63,9.7,6
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.99550,3.34,0.56,9.3,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [46]:
wine_df['free sulfur dioxide'].max()

72.0

In [47]:
wine_df['free sulfur dioxide'] / wine_df['total sulfur dioxide']

0       0.323529
1       0.373134
2       0.277778
3       0.283333
4       0.323529
          ...
1594    0.727273
1595    0.764706
1596    0.725000
1597    0.727273
1598    0.428571
Length: 1599, dtype: float64

In [48]:
wine_df['free sulphur ratio'] = wine_df['free sulfur dioxide'] / wine_df['total sulfur dioxide']

In [49]:
wine_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,free sulphur ratio
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0.323529
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0.373134
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0.277778
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0.283333
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0.323529
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,0.727273
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,0.764706
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,0.725000
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,0.727273
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,0.428571

In [50]:
wine_df.drop(['free sulphur ratio'], inplace=True, axis=1)

In [51]:
wine_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [52]:
wine_df.sort_values('alcohol', ascending=False).head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5
588,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
142,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6
144,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6
1270,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1269,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8
467,8.8,0.46,0.45,2.6,0.065,7.0,18.0,0.99470,3.32,0.79,14.0,6
821,4.9,0.42,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.0,7
1114,5.0,0.40,0.50,4.3,0.046,29.0,80.0,0.99020,3.49,0.66,13.6,6
1228,5.1,0.42,0.00,1.8,0.044,18.0,88.0,0.99157,3.68,0.73,13.6,7

In [53]:
wine_df.sort_values(['quality', 'alcohol'], ascending=[True, False]).head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
899,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.00,3
1299,7.6,1.580,0.00,2.10,0.137,5.0,9.0,0.99476,3.50,0.40,10.90,3
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.70,3
1478,7.1,0.875,0.05,5.70,0.082,3.0,14.0,0.99808,3.40,0.52,10.20,3
1505,6.7,0.760,0.02,1.80,0.078,6.0,12.0,0.99600,3.55,0.63,9.95,3
832,10.4,0.440,0.42,1.50,0.145,34.0,48.0,0.99832,3.38,0.86,9.90,3
1374,6.8,0.815,0.00,1.20,0.267,16.0,29.0,0.99471,3.32,0.51,9.80,3
1469,7.3,0.980,0.05,2.10,0.061,20.0,49.0,0.99705,3.31,0.55,9.70,3
459,11.6,0.580,0.66,2.20,0.074,10.0,47.0,1.00080,3.25,0.57,9.00,3
517,10.4,0.610,0.49,2.10,0.200,5.0,16.0,0.99940,3.16,0.63,8.40,3

In [54]:
wine_df.at[899,'volatile acidity'] = 1.021

In [55]:
wine_df.at[899,'volatile acidity']

1.021

In [56]:
import urllib.request

def download_url(url, save_path):
    with urllib.request.urlopen(url) as dl_file:
        with open(save_path, 'wb') as out_file:
            out_file.write(dl_file.read())

download_url('https://www.kaggle.com/datasets/shrikrishnaparab/fifa-world-cup-2022-qatar-match-data/download?datasetVersionNumber=1','./testdata/fifawc22.zip')

In [57]:
from zipfile import ZipFile
with ZipFile('./testdata/fifawc22.zip', 'w') as zipObj:
   # Extract all the contents of zip file in current directory
   zipObj.extractall('./testdata')

In [58]:
import os
os.listdir('./testdata')

['bank1.txt', 'banknewdata.txt', 'fifawc22.zip', 'Fifa_WC_2022_Match_data.csv']

In [59]:
testdata_files = os.listdir('./testdata')
csv_filename = ''
for i in testdata_files:
    ext = os.path.splitext(i)[1]
    if ext == '.csv':
        csv_filename = i
        break
print(csv_filename)

Fifa_WC_2022_Match_data.csv

In [64]:
fifa_df = pd.read_csv('./testdata/'+csv_filename, sep=',', encoding='latin-1')

In [65]:
fifa_df

,match_no,day_of_week,date,hour,venue,referee,group,1,2,attendance,...,1_panelties_scored,2_panelties_scored,1_goal_prevented,2_goal_prevented,1_own_goal,2_own_goal,1_forced_turnovers,2_forced_turnovers,1_defensive_pressure_applied,2_defensive_pressure_applied
0,1,Sun,20-Nov-22,17:00,Al Bayt Stadium,Daniele Orsato,Group A,QATAR,ECUADOR,67372,...,0,1,6,5,0,0,52,72,256,279
1,2,Mon,21-Nov-22,14:00,Khalifa International Stadium,Raphael Claus,Group B,ENGLAND,IRAN,45334,...,0,1,8,13,0,0,63,72,139,416
2,3,Mon,21-Nov-22,17:00,Al Thumama Stadium,Wilton Sampaio,Group A,SENEGAL,NETHERLANDS,41721,...,0,0,9,15,0,0,63,73,263,251
3,4,Mon,21-Nov-22,20:00,Ahmed bin Ali Stadium,Abdulrahman Ibrahim Al Jassim,Group B,UNITED STATES,WALES,43418,...,0,1,7,7,0,0,81,72,242,292
4,5,Tue,22-Nov-22,11:00,Lusail Iconic Stadium,Slavko Vincic,Group C,ARGENTINA,SAUDI ARABIA,88012,...,1,0,4,14,0,0,65,80,163,361
5,6,Tue,22-Nov-22,14:00,Education City Stadium,Cesar Ramos,Group D,DENMARK,TUNISIA,42925,...,0,0,11,11,0,0,76,73,226,287
6,7,Tue,22-Nov-22,17:00,Stadium 974,Chris Beath,Group C,MEXICO,POLAND,39369,...,0,0,8,15,0,0,61,70,193,290
7,8,Tue,22-Nov-22,20:00,Al Janoub Stadium,Victor Gomes,Group D,FRANCE,AUSTRALIA,40875,...,0,0,4,22,0,0,64,56,250,316
8,9,Wed,23-Nov-22,11:00,Al Bayt Stadium,Fernando Rapallini,Group F,MOROCCO,CROATIA,59407,...,0,0,7,8,0,0,87,58,391,217
9,10,Wed,23-Nov-22,14:00,Khalifa International Stadium,Ivan Barton,Group E,GERMANY,JAPAN,42608,...,1,0,12,26,0,0,55,87,164,487
10,11,Wed,23-Nov-22,17:00,Al Thumama Stadium,Mohammed Abdulla Hassan,Group E,SPAIN,COSTA RICA,40013,...,1,0,0,17,0,0,46,76,185,585
11,12,Wed,23-Nov-22,20:00,Ahmed bin Ali Stadium,Janny Sikazwe,Group F,BELGIUM,CANADA,40432,...,0,0,21,9,0,0,74,47,284,320
12,13,Thu,24-Nov-22,11:00,Al Janoub Stadium,Facundo Tello,Group G,SWITZERLAND,CAMEROON,39089,...,0,0,7,8,0,0,64,79,313,316
13,14,Thu,24-Nov-22,14:00,Education City Stadium,Clement Turpin,Group H,URUGUAY,KOREA REPUBLIC,41663,...,0,0,6,10,0,0,65,54,240,231
14,15,Thu,24-Nov-22,17:00,Stadium 974,Ismail Elfath,Group H,PORTUGAL,GHANA,42662,...,1,0,8,11,0,0,70,82,286,326
15,16,Thu,24-Nov-22,20:00,Lusail Iconic Stadium,Alireza Faghani,Group G,BRAZIL,SERBIA,88103,...,0,0,4,24,0,0,72,71,236,338
16,17,Fri,25-Nov-22,11:00,Ahmed bin Ali Stadium,Mario Escobar,Group B,WALES,IRAN,40875,...,0,0,21,9,0,0,89,84,161,276
17,18,Fri,25-Nov-22,14:00,Al Thumama Stadium,Antonio Mateu Lahoz,Group A,QATAR,SENEGAL,41797,...,0,0,12,11,0,0,67,67,308,232
18,19,Fri,25-Nov-22,17:00,Khalifa International Stadium,Mustapha Ghorbal,Group A,NETHERLANDS,ECUADOR,44833,...,0,0,14,2,0,0,85,52,254,279
19,20,Fri,25-Nov-22,20:00,Al Bayt Stadium,JesÃºs Valenzuela SÃ¡ez,Group B,ENGLAND,UNITED STATES,68463,...,0,0,10,8,0,0,52,61,266,350
20,21,Sat,26-Nov-22,11:00,Al Janoub Stadium,Daniel Siebert,Group D,TUNISIA,AUSTRALIA,41823,...,0,0,9,13,0,0,81,88,217,273
21,22,Sat,26-Nov-22,14:00,Education City Stadium,Wilton Sampaio,Group C,POLAND,SAUDI ARABIA,44259,...,0,0,16,9,0,0,69,53,329,173
22,23,Sat,26-Nov-22,17:00,Stadium 974,Szymon Marciniak,Group D,FRANCE,DENMARK,42860,...,0,0,10,21,0,0,79,61,269,282
23,24,Sat,26-Nov-22,20:00,Lusail Iconic Stadium,Daniele Orsato,Group C,ARGENTINA,MEXICO,88966,...,0,0,4,5,0,0,63,79,220,327
24,25,Sun,27-Nov-22,11:00,Ahmed bin Ali Stadium,Michael Oliver,Group E,JAPAN,COSTA RICA,41479,...,0,0,4,14,0,0,47,66,300,294
25,26,Sun,27-Nov-22,14:00,Al Thumama Stadium,Cesar Ramos,Group F,BELGIUM,MOROCCO,43738,...,0,0,11,10,0,0,38,78,194,360
26,27,Sun,27-Nov-22,17:00,Khalifa International Stadium,AndrÃ©s Matonte,Group F,CROATIA,CANADA,44374,...,0,0,9,13,0,0,87,72,347,316
27,28,Sun,27-Nov-22,20:00,Al Bayt Stadium,Danny Makkelie,Group E,SPAIN,GERMANY,68895,...,0,0,11,7,0,0,79,101,275,387
28,29,Mon,28-Nov-22,11:00,Al Janoub Stadium,Mohammed Abdulla Hassan,Group G,CAMEROON,SERBIA,39789,...,0,0,16,13,0,0,83,81,285,234
29,30,Mon,28-Nov-22,14:00,Education City Stadium,Anthony Taylor,Group H,KOREA REPUBLIC,GHANA,43983,...,0,0,8,21,0,0,53,75,220,324
30,31,Mon,28-Nov-22,17:00,Stadium 974,Ivan Barton,Group G,BRAZIL,SWITZERLAND,43649,...,0,0,4,9,0,0,85,80,282,344
31,32,Mon,28-Nov-22,20:00,Lusail Iconic Stadium,Alireza Faghani,Group H,PORTUGAL,URUGUAY,88668,...,1,0,11,14,0,0,68,81,226,362
32,33,Tue,29-Nov-22,16:00,Khalifa International Stadium,Clement Turpin,Group A,NETHERLANDS,QATAR,44569,...,0,0,5,14,0,0,62,52,319,322
33,34,Tue,29-Nov-22,16:00,Al Bayt Stadium,Bakary Papa Gassama,Group A,ECUADOR,SENEGAL,66784,...,0,1,15,8,0,0,59,62,190,243
34,35,Tue,29-Nov-22,20:00,Ahmed bin Ali Stadium,Slavko Vincic,Group B,WALES,ENGLAND,44297,...,0,0,17,8,0,0,49,56,328,167
35,36,Tue,29-Nov-22,20:00,Al Thumama Stadium,Antonio Mateu Lahoz,Group B,IRAN,UNITED STATES,42127,...,0,0,13,6,0,0,63,74,295,302
36,37,Wed,30-Nov-22,16:00,Al Janoub Stadium,Mustapha Ghorbal,Group D,AUSTRALIA,DENMARK,41232,...,0,0,14,8,0,0,90,74,341,161
37,38,Wed,30-Nov-22,16:00,Education City Stadium,Matt Conger,Group D,TUNISIA,FRANCE,43627,...,0,0,11,6,0,0,68,80,400,202
38,39,Wed,30-Nov-22,20:00,Lusail Iconic Stadium,Michael Oliver,Group C,POLAND,ARGENTINA,84985,...,0,0,25,4,0,0,67,48,438,141
39,40,Wed,30-Nov-22,20:00,Stadium 974,Danny Makkelie,Group C,SAUDI ARABIA,MEXICO,44089,...,0,0,26,10,0,0,82,76,269,229
40,41,Thu,1-Dec-22,16:00,Al Thumama Stadium,Raphael Claus,Group F,CROATIA,BELGIUM,43102,...,0,0,16,11,0,0,70,68,328,346
41,42,Thu,1-Dec-22,16:00,Ahmed bin Ali Stadium,Anthony Taylor,Group F,CANADA,MOROCCO,43984,...,0,0,7,7,0,1,66,72,224,324
42,43,Thu,1-Dec-22,20:00,Khalifa International Stadium,Victor Gomes,Group E,JAPAN,SPAIN,44851,...,0,0,14,6,0,0,85,49,637,150
43,44,Thu,1-Dec-22,20:00,Al Bayt Stadium,Stephanie Frappart,Group E,COSTA RICA,GERMANY,67054,...,0,0,32,8,0,0,79,77,378,230
44,45,Fri,2-Dec-22,16:00,Al Janoub Stadium,Daniel Siebert,Group H,GHANA,URUGUAY,43443,...,0,0,12,9,0,0,92,84,248,293
45,46,Fri,2-Dec-22,16:00,Education City Stadium,Facundo Tello,Group H,KOREA REPUBLIC,PORTUGAL,44097,...,0,0,14,12,0,0,54,50,359,233
46,47,Fri,2-Dec-22,20:00,Stadium 974,Fernando Rapallini,Group G,SERBIA,SWITZERLAND,41378,...,0,0,14,10,0,0,74,82,276,253
47,48,Fri,2-Dec-22,20:00,Lusail Iconic Stadium,Ismail Elfath,Group G,CAMEROON,BRAZIL,85986,...,0,0,20,7,0,0,78,54,321,226
48,49,Sat,3-Dec-22,16:00,Khalifa International Stadium,Wilton Sampaio,Round of 16,NETHERLANDS,UNITED STATES,44846,...,0,0,18,13,0,0,101,77,325,256
49,50,Sat,3-Dec-22,20:00,Ahmed bin Ali Stadium,Szymon Marciniak,Round of 16,ARGENTINA,AUSTRALIA,45032,...,0,0,5,14,1,0,67,73,240,453
50,51,Sun,4-Dec-22,16:00,Al Thumama Stadium,JesÃºs Valenzuela SÃ¡ez,Round of 16,FRANCE,POLAND,40989,...,0,1,11,16,0,0,71,64,220,297
51,52,Sun,4-Dec-22,20:00,Al Bayt Stadium,Ivan Barton,Round of 16,ENGLAND,SENEGAL,65985,...,0,0,10,8,0,0,60,74,230,339
52,53,Mon,5-Dec-22,16:00,Al Janoub Stadium,Ismail Elfath,Round of 16,JAPAN,CROATIA,42523,...,0,0,18,11,0,0,100,100,405,308
53,54,Mon,5-Dec-22,20:00,Stadium 974,Clement Turpin,Round of 16,BRAZIL,KOREA REPUBLIC,43847,...,1,0,10,18,0,0,73,81,310,329
54,55,Tue,6-Dec-22,16:00,Education City Stadium,Fernando Rapallini,Round of 16,MOROCCO,SPAIN,44667,...,0,0,14,6,0,0,100,66,573,217
55,56,Tue,6-Dec-22,20:00,Lusail Iconic Stadium,Cesar Ramos,Round of 16,PORTUGAL,SWITZERLAND,83720,...,0,0,10,15,0,0,71,54,357,240
56,57,Fri,9-Dec-22,16:00,Education City Stadium,Michael Oliver,Quarter-final,CROATIA,BRAZIL,43893,...,0,0,21,9,0,0,95,77,365,423
57,58,Fri,9-Dec-22,20:00,Lusail Iconic Stadium,Antonio Mateu Lahoz,Quarter-final,NETHERLANDS,ARGENTINA,88235,...,0,1,15,5,0,0,91,79,401,323
58,59,Sat,10-Dec-22,16:00,Al Thumama Stadium,Facundo Tello,Quarter-final,MOROCCO,PORTUGAL,44198,...,0,0,11,10,0,0,88,44,373,165
59,60,Sat,10-Dec-22,20:00,Al Bayt Stadium,Wilton Sampaio,Quarter-final,ENGLAND,FRANCE,68895,...,1,0,9,15,0,0,49,54,193,308